body {
    background-color: palegoldenrod;
    min-height: 100vh;
}

h1 {
    color: hsl(0, 0%, 20%);
    margin: 20px 30px;
    font-family: 'Lato', sans-serif;
}

.btn.btn-success {
    font-size: 25px; 
    margin: 20px 30px;
}

.button-group {
    display: flex;
    width: 115px;
    align-self: flex-start;
    justify-content: space-between;
    margin-top: -70px;
}

.button-group * {
    align-self: flex-start;
    font-size: 24px;
    color: hsl(253, 37%, 93%);
    background-color: hsla(20, 20%, 20%, .8);
    padding: 5px 15px 5px 15px;
    border: none;
}

.italicButton {
    padding-right: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 90vw;
}

.textarea {
    height: 25em;
    width: 100%;
}

.made-by {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    color: hsl(0, 0%, 20%);
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 15px;
}

.made-by a {
    color: hsl(0, 0%, 10%);
    font-weight: 700;
}

.made-by a:hover {
    color: hsl(0, 0%, 30%);
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .btn.btn-success{
        margin-left: 7.5em;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 70vw;
    }
}
@media only screen and (min-width: 1400px) {
    .container {
        width: 50vw;
    }
}